$primary_color: #39c0ba;
$font_family: Roboto,sans-serif;
$step_dot_width: 20px;
$step_label:12px;
$step_default_color: #EAEAEA;
$step_primary_color: #39c0ba;
$step_skipped_color: #ffc107;
$step_transition: 0.2s linear;